mixin block_drop_down(options)

    .block-drop-down
        .block-option
            a= 'Choose An Option'
            button(class= 'option-btn')
                i(class="fa fa-chevron-down" aria-hidden="true")
        ul(class= 'drop-down-option')
            each val in options
                li= val