@font-face {
  font-family: 'Lato Light';
  src: url(../../fonts/fonts/Lato-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Lato Black';
  src: url(../../fonts/fonts/Lato-Black.ttf) format('ttf');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url(../../fonts/fonts/SourceSansPro-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Lato Regular';
  src: url(../../fonts/fonts/Lato-Regular.ttf) format('ttf');
}