.content_percentages-pie_charts{
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 37px;
  @media (max-width: 780px) {
    align-items: center;
    flex-direction: column;
    .percentages-content{
      width: 222px;
      .block_percentage{
        &:nth-last-child(1){margin-right: 0}
        &:nth-last-child(2){margin-right: 30px}
        &:nth-last-child(3){margin-right: 0}
        &:nth-last-child(4){margin-right: 30px}
      }
    }
  }
  .percentages-content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .block_percentage{
      position: relative;
      margin-right: 30px;
      width: 95px;
      height: 95px;
      .percent{
        width: 100%;
        position: absolute;
        top: 26px;
        text-align: center;
        font-size: 40px;
        color: #9d9d9d;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        letter-spacing: -3px
      }
    }

  }
  #pie, .block_pie_chart{
    width: 95px;
    height: 95px;
  }
}