mixin block_video(src, vsrc)

    .block_video
        iframe(src='https://player.vimeo.com/video/'+src
               height='335px'
               width='594px'
               frameborder="0"
               allowfullscreen
               )
        .video
            video(src='../../../../dist/video/'+vsrc+'.mp4' class='myvideo')
            .video-controls
                button(class='btn-play' id='unpaused')
                    i
                span(class='total')
                    span(class='current')
                button(class='btn-fullscreen' id='off')
                    i(class="fa fa-arrows-alt" aria-hidden="true")