.blocks-sdp-up{
  @import 'block_search/block_search';
  @import 'block_user-profile/block_user-profiles';
  @import 'block_drop_down/block_drop_down';
  display: flex;
  justify-content: center;
  margin-bottom: -2px;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
    .block-search-drop-down{
      margin-right: 0;
    }
  }
  .search-drop-down-content{
    margin-top: 14px;
  }
}