.settings-toggles-OFF{
  &:after{
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #FFF;
    top: 0.1667rem;
    left: 0.1667rem;
    transition: 0.5s;
  }
}
.settings-toggles-ON{
  &:after{
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #FFF;
    top: 0.1667rem;
    left: 2.1667rem;
    transition: 0.5s;
  }
}
.settings-toggles{
  width: 3.3333rem;
  height: 1.3333rem;
  border-radius: 0.6667rem;
  transition: 1s;
  position: relative;
  p{
    position: absolute;
    font-size: 0.6667rem;
    margin: 0;
    line-height: 1.4333rem;
    color: #FFF;
    transition: 0.5s;
  }
}

.toggles_content{
  display: flex;
  justify-content: center;
  margin-top: 1.3333rem;
  margin-bottom: 2rem;
  margin-right: 0.3333rem;
  .toggle{
    cursor: $point_cursor;
    &#OFF{
      @extend .settings-toggles;
      @extend .settings-toggles-OFF;
      background-color: #e5e5e5;
      p{
        left: 1.4444rem;
      }
    }
    &#ON{
      @extend .settings-toggles;
      @extend .settings-toggles-ON;
      background-color: #4eb7a8;
      p{
        left: 0.6111rem;
      }
    }
    &:first-child{
      margin-right: 0.7222rem;
    }
  }
}