.ui-slider-horizontal{
  @mixin slider(){
    margin-top: 44px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 3px;
    height: 5px;
    width: 260px;
    margin-left: 11px;
  }

  .ui-slider-handle{
    outline: none;
    border-radius: 50%;
  }

  &#orange{
    margin-right: 61px;
    @include slider();
    .ui-slider-handle{
      background-color: #e75735;
      border-color: #e75735;
      top: -8px;
    }
    background-color: #e5e5e5;
    .ui-slider-label-orange{
      line-height: 25px;
      position: absolute;
      top: -43px;
      width: 35px;
      height: 24px;
      background-color: #e75735;
      border-radius: 5px;
      border: none;
      font-family: "Lato", sans-serif;
      font-weight: 900;
      font-size: 13px;
      color: #ffffff;
      text-align: center;
      transition: 0.5s;
      &:after{
        content: "";
        position: absolute;
        top: 20px;
        left: 13.5px;
        border: solid #e75735 4px;
        transform: rotate(44deg);
      }
    }
  }

  &#default{
    @include slider();
    .ui-slider-handle{
      background-color: #4eb7a8;
      border-color: #4eb7a8;
      top: -8px;
    }
    .ui-slider-label-default{
      font-size: 11px;
      color: #d1d1d1;
      font-family: "Lato", sans-serif;
      font-weight: 900;

    }
    ul{
      font-size: 11px;
      color: #d1d1d1;
      font-family: "Lato", sans-serif;
      display: flex;
      list-style-type: none;
      padding: 0;
      position: absolute;
      left: -3.3%;
      justify-content: space-between;
      width: 274px;
      top: 5px;
      li{
        width: 20px;
        text-align: center;
      }
    }
    background-color: #e5e5e5;
  }

}
.content_sliders{
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
    #orange{
      margin-right: 0;
    }
  }

}