.videos_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  .video-iframe{
    width: 33rem;
    @media (max-width: 780px) {
      width: 100%;
      iframe{
        height: calc(56.25vw);
      }
    }
    iframe{
      width: 100%;
    }
  }
  .video-controls{
    position: relative;
    background: black;
    margin-top: 2.0556rem;
    width: 33rem;
    height: 18.6111rem;
    @media (max-width: 780px) {
      width: 100%;
      height: calc(56.25vw)
    }

    .info{
      position: absolute;
      z-index: 0;
      opacity: 0;
      color: #FFF;
      margin-top: 2.35%;
      margin-left: 6.73%;
      transition: 0.5s;
      .settings-info{
        margin: 0;
        padding: 0;
      }
      #name{
        @extend .settings-info;
        font-family: 'Lato Light', sans-serif;
        font-size: 2rem;
        margin-bottom: 1.85%;
      }
      #from{
        @extend .settings-info;
        font-family: 'Lato Black', sans-serif;
        font-size: 0.6667rem;
        margin-bottom: 3.87%;
      }
      a{
        @extend .settings-info;
        font-family: 'Lato Regular', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        &:visited{
          color: #FFF;
        }
      }
      &:hover .info{
        z-index: 5;
        opacity: 1;
      }
    }
    .controls{
      position: absolute;
      display: flex;
      width: 100%;
      height: 2.6667rem;
      bottom: 0;
      opacity: 0;
      z-index: 5;
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.28);
      .btn-play{
        position: absolute;
        left: 0;
        width: 2.7778rem;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        border: 0;
        &#paused{
          i{
            &:after{
              top: 0.7222rem;
              left: 1.5rem;
              background-color: white;
              height: 1.1111rem;
              width: 0.1667rem;
              position: absolute;
              content: '';
              transition: 0.5s;
            }
            &:before{
              top: 0.7222rem;
              left: 1.1111rem;
              background-color: white;
              height: 1.1111rem;
              width: 0.1667rem;
              position: absolute;
              content: '';
              transition: 0.5s;
            }
          }
        }
        &#unpaused{
          i{
            &:after{
              top: 0.7222rem;
              border: 0.5556rem solid transparent;
              border-left: 0.8889rem solid white;
              left: 1.1111rem;
              position: absolute;
              content: '';
            }
          }
        }
      }

      .total {
        width: 100%;
        background: #e5e5e5;
        height: 0.2778rem;
        border-radius: 0.1111rem;
        margin: 1.1111rem 3.8889rem 1.1111rem 2.7778rem;
        .current {
          position: absolute;
          background:#e75735;
          line-height:0;
          height: 0.2778rem;
          border-radius: 0.1111rem;
        }
      }

      .btn-fullscreen{
        position: absolute;
        right: 0;
        width: 2.6667rem;
        height: 100%;
        background-color: #e75735;
        border: 0;
        font-size: 1.2778rem;
        color: #FFF;
        &#off{
          i{
            &:after{
              position: absolute;
              content: '';
              left: 1.1111rem;
              transform: rotate(45deg);
              top: 1.1111rem;
              width: 0.4444rem;
              height: 0.4444rem;
              background-color: #e75735;
            }
          }
        }
      }
    }
    .video{
      position: relative;
      height: 18.6111rem;
      width: 100%;
      @media (max-width: 780px) {
        height: calc(56.25vw);
      }
      video{
        height: 100%;
        width:100%;
      }
    }
  }
}