.content_form_elements{
  display: flex;
  justify-content: center;
  .block_form{
    height: 213px;
    width: 288px;

    margin-right: 9px;
    $bc: #e5e5e5;

    .form{
      display: flex;
      margin-bottom: 12px;
      border-radius: 2px;
    }
    .form_input{
      font-family: "Source Sans Pro Regular", sans-serif;
      outline: none;
      font-size: 14px;
      height: 26px;
      width: 288px;
      border-radius: 2px;
      transition: 0.5s;
      padding-left: 13px;
      padding-right: 13px;
    }
    .form_label{
      display: none;
      position: relative;
      font-family: "Lato Black", sans-serif;
      font-size: 10px;
      line-height: 28px;
      text-align: center;
      color: #FFF;
      height: 28px;
      width: 0;
      border-radius: 2px;
      transition: 0.5s;
    }

    .form_name{
      @extend .form;
      input{
        border: 0;
        background-color: $bc;
        @extend .form_input
      }
      &#YES{
        div{
          @extend .form_label;
          &:after{
            content: "";
            position: absolute;
            left: -6px;
            top: 10px;
            border-style: solid;
            border-color: transparent #4eb7a8 transparent transparent;
            transition: 0.5s;
          }
        }
      }
      &#NO{
        div{
          @extend .form_label;
          &:after{
            content: "";
            position: absolute;
            left: -6px;
            top: 10px;
            border-style: solid;
            border-color: transparent #e75735 transparent transparent;
            transition: 0.5s;
          }
        }
      }
    }
    .form_email{
      @extend .form;
      input{
        border: 0;
        background-color: $bc;
        @extend .form_input
      }
      &#YES{
        div{
          display: none;
          @extend .form_label;
          &:after{
            content: "";
            position: absolute;
            left: -6px;
            top: 10px;
            border-style: solid;
            border-color: transparent #4eb7a8 transparent transparent;
            transition: 0.5s;
          }
        }
      }
      &#NO{
        div{
          display: none;
          @extend .form_label;
          &:after{
            content: "";
            position: absolute;
            left: -6px;
            top: 10px;
            border-style: solid;
            border-color: transparent #e75735 transparent transparent;
            transition: 0.5s;
          }
        }
      }
    }

    textarea{
      padding: 13px;
      font-family: "Source Sans Pro Regular", sans-serif;
      outline: none;
      font-size: 14px;
      resize: none;
      background-color: $bc;
      border: 0;
      border-radius: 2px;
      margin-bottom: 5px;

      min-height: 66px;
      min-width: 262px;
      max-height: 66px;
      max-width: 262px;
    }

    .block_basic_button{
      float:right;
    }
  }
}