include ../block_standart_button/block_standart_button

mixin block_form()

    form(class='block_form')
        div(class='form_name' id='NO')
            input(placeholder='Your Name' type='text')
            .label_name
        div(class='form_email' id='NO')
            input(placeholder='Your Email' type='email')
            .label_email
        textarea(placeholder='Your Message')
        .block_basic_buttons-content
            +block_basic_button("medium", "SUBMIT", "default")