include ../block_standart_button/block_standart_button

mixin block_form()

    form(class='block_form')
        .form_name
            input(placeholder='Your Name' type='text')
            .label_name
        .form_email
            input(placeholder='Your Email' type='email')
            .label_email
        textarea(placeholder='Your Message')
        +block_basic_button("medium", "SUBMIT", "default")