include ../block_basic_button/block_basic_button

mixin block_form()

    form(class='block-form')
        div(class='form-name' id='NO')
            input(placeholder='Your Name' type='text')
            .label-name
        div(class='form-email' id='NO')
            input(placeholder='Your Email' type='email')
            .label-email
        textarea(placeholder='Your Message')
        .block-basic-buttons-content
            +block_basic_button("medium", "SUBMIT", "default")