.form-elements_content{
  display: flex;
  justify-content: center;
  margin-top: 2.2222rem;
  margin-bottom: 3.4756rem;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }
  .form{
    height: 11.8333rem;
    width: 16rem;
    margin-right: 1.6111rem;
    margin-top: 0.2222rem;
    $bc: #e5e5e5;
    @media (max-width: 780px) {
      margin-right: 0;
      margin-bottom: 1.1111rem;
    }

    .form-settings{
      display: flex;
      margin-bottom: 0.6667rem;
      border-radius: 0.1111rem;
    }
    .form-input{
      font-family: 'Source Sans Pro Regular', sans-serif;
      outline: none;
      font-size: 0.7778rem;
      height: 1.4444rem;
      width: 16rem;
      border-radius: 0.1111rem;
      transition: 0.5s;
      padding: 0 0.5556rem 0 0.5556rem;
    }
    .form-label{
      display: none;
      position: relative;
      font-family: 'Lato Black', sans-serif;
      font-size: 0.5556rem;
      line-height: 1.5556rem;
      text-align: center;
      color: #FFF;
      height: 1.5556rem;
      width: 0;
      border-radius: 0.1111rem;
      transition: 0.5s;
    }

    .settings-inputs{
      @extend .form-settings;
      input{
        border: 0;
        background-color: $bc;
        @extend .form-input
      }

      .settings-form-state{
        &:after{
          content: '';
          position: absolute;
          border: solid 5px;
          left: -0.5rem;
          top: 0.5rem;
          transition: 0.5s;
        }
      }

      &#YES{
        div{
          display: none;
          @extend .form-label;
          @extend .settings-form-state;
          &:after{
            border-color: transparent #4eb7a8 transparent transparent;
          }
        }
      }
      &#NO{
        div{
          @extend .form-label;
          @extend .settings-form-state;
          &:after{
            border-color: transparent #e75735 transparent transparent;
          }
        }
      }
    }

    .form-name{
      @extend .settings-inputs;
    }
    .form-email{
      @extend .settings-inputs;
    }

    textarea{
      padding: 0.6111rem;
      font-family: 'Source Sans Pro Regular', sans-serif;
      outline: none;
      font-size: 0.7778rem;
      resize: none;
      background-color: $bc;
      border: 0;
      border-radius: 0.1111rem;
      margin-bottom: 0.3333rem;

      min-height: 3.6667rem;
      min-width: 14.7778rem;
      max-height: 3.6667rem;
      max-width: 14.7778rem;
    }

    .basic-buttons_content{
      margin: 0;
      display: block;
    }
    .basic-button{
      float:right;
    }
  }
  .form-elements_toggles-tick-boxes{
    width: 15.3333rem;
  }
}