mixin slider(type, min, max, step, start_position)

    div(class='slider-' + type)
        div(data-min=min data-max=max data-step=step data-start_position=start_position class="slider" id=type)
            case type
                when 'orange'
                    div(class='ui-slider-handle')
                        label(class='ui-slider-label-orange')
                when 'default'
                    ul(class='ui-slider-label-default')