.sliders_content{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5556rem;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }

  .settings-sliders{
    margin-top: 2.2222rem;
    margin-bottom: 1.6667rem;
    border: 0;
    border-radius: 0.1667rem;
    height: 0.2778rem;
    width: 14.4444rem;
  }

  .ui-slider-horizontal{
    .ui-slider-range{
      background: #4eb7a8
    }
    .ui-slider-handle{
      outline: none;
      border-radius: 50%;
    }
  }

  .slider-orange{
    position: relative;
    #orange{
      margin-right: 3.3889rem;
      @media (max-width: 780px) {
        margin-right: 0;
      }
      @extend .settings-sliders;
      .ui-slider-handle{
        background-color: #e75735;
        border-color: #e75735;
        top: -0.4444rem;
        transition: 0.2s;
        .ui-slider-label-orange{
          line-height: 1.3889rem;
          position: absolute;
          top: -33px;
          left: -7px;
          width: 1.9444rem;
          height: 1.3333rem;
          background-color: #e75735;
          border-radius: 0.2778rem;
          border: none;
          font-family: 'Lato', sans-serif;
          font-weight: 900;
          font-size: 0.7222rem;
          color: #ffffff;
          text-align: center;
          &:after{
            content: "";
            position: absolute;
            top: 1.1111rem;
            left: 0.7222rem;
            border: solid #e75735 0.2222rem;
            transform: rotate(44deg);
          }
        }
      }
      background-color: #e5e5e5;
    }
  }
  .slider-default{
    position: relative;
    #default{
      @extend .settings-sliders;
      .ui-slider-handle{
        background-color: #4eb7a8;
        border-color: #4eb7a8;
        top: -0.4444rem;
        transition: 0.2s;
      }
      .ui-slider-range{transition: 0.2s;}
      background-color: #e5e5e5;
    }
    .ui-slider-label-default{
      font-size: 0.6111rem;
      color: #d1d1d1;
      font-family: 'Lato', sans-serif;
      font-weight: 900;

    }
    ul{
      font-size: 0.6111rem;
      color: #d1d1d1;
      font-family: 'Lato', sans-serif;
      display: flex;
      list-style-type: none;
      padding: 0;
      position: absolute;
      left: -0.5rem;
      width: 15.5556rem;
      top: 0.2778rem;
      li{
        width: 1.1111rem;
        text-align: center;
        margin-right: 2.5rem;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}