doctype html

html(lang = "ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title First Task
        link(href="summary.css" rel="stylesheet")
        script(type="text/javascript" src="summary.js")
        script(type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=79d65626-f344-4b9a-9879-6f751cbacbec&lang=ru_RU")
    body
        .wrapper
            include blocks/block_content/block_content