doctype html

html(lang = "ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title First Task
        link(href="summary.css" rel="stylesheet")
        script(src="summary.js")
    body
        .wrapper
            include blocks/block_content/block_content
        .cursor
            p= "Наведи на кнопку"
            img(src="png/hand.png")