@import "block_messaging/block_messaging";
@import "block_calendar/block_calendar";


.blocks_calendars-messaging {
  display: flex;
  justify-content: center;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }
}