include ../block_standart_button/block_standart_button
include ../block_arrow_button/block_arrow_button
include ../block_percentage/block_percentage
include ../block_pie_chart/block_pie_chart
include ../block_slider/block_slider

.content_block
    .block_basic_buttons
        +block_basic_button("small", "SMALL", "default")
        +block_basic_button("medium", "MEDIUM", "default")
        +block_basic_button("small", "SMALL", "orange")
        +block_basic_button("medium", "MEDIUM","orange")
    .block_arrow_buttons
        +block_arrow_button("active","left", "orange")
        +block_arrow_button("active","right", "orange")
        +block_arrow_button("active","right", "default")
        +block_arrow_button("active","left", "default")
        +block_arrow_button("disable", "right")
        +block_arrow_button("disable", "left")
    .content_percentages
        +block_percentage(0)
        +block_percentage(38)
        +block_percentage(62)
        +block_percentage(89)
    .block_pie_charts
        +block_pie_chart(50, 30, 10, 10)
        +block_pie_chart(10, 30, 20, 40)
    .block_sliders
        +block_slider('orange', 0, 200, 50)
        +block_slider('default', 0, 300, 50)