$point_cursor: url("../../../../dist/img/hand.png"), text;
$arrow_left: url("../../../../dist/img/Arrow_Left.png");
$arrow_right: url("../../../../dist/img/Arrow_Right.png");
@import "../block_standart_button/block_standart_button.scss";
@import "../block_arrow_button/block_arrow_button.scss";
@import "../block_percentage-pie_chart/block_percentage-pie_chart.scss";
@import "../block_slider/block_slider.scss";
@import "../block_stage/block_stage.scss";
@import "../block_form/block_form.scss";
@import "../block_toggle_tick_box/block_toggle.scss";
@import "../block_toggle_tick_box/block_tick_box.scss";
@import "../blocks_sdp-up/blocks_sdp-up";
@import "../blocks_calendars-messagings/blocks_calendars-messagings";
@import "../block_news-events/block_news-events.scss";
@import "../block_location/block_location.scss";
@import "../block_video/block_video.scss";
@import "../../fonts/font-Lato.scss";

.content_block{
  width: 84.85%;
  position: relative;
  margin-left: 7.57%;
  .title{
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
}