$point_cursor: url("../../../../dist/img/hand.png"), text;
$arrow_left: url("../../../../dist/img/Arrow_Left.png");
$arrow_right: url("../../../../dist/img/Arrow_Right.png");
@import "../block_standart_button/block_standart_button.scss";
@import "../block_arrow_button/block_arrow_button.scss";
@import "../block_pie_chart/block_pie_chart.scss";
@import "../block_percentage/block_percentage.scss";
@import "../block_slider/block_slider.scss";
@import "../block_stage/block_stage.scss";
@import "../block_form/block_form.scss";
@import "../block_toggle_tick_box/block_toggle.scss";
@import "../block_toggle_tick_box/block_tick_box.scss";
@import "../block_search/block_search.scss";
@import "../block_drop_down/block_drop_down.scss";
@import "../block_user-profile/block_user-profile.scss";
@import "../block_news-events/block_news-events.scss";
@import "../block_location/block_location.scss";
@import "../block_calendar/block_calendar.scss";
@import "../block_messaging/block_messaging.scss";
@import "../block_video/block_video.scss";
button{
  .pulse{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.51);
    animation: pulse 0.7s ease-out;
    transform: scale(0);
  }
  @keyframes pulse {
    to{
      transform: scale(1);
      opacity: 0;
    }
  }
  outline: 0;
  overflow: hidden;
  position: relative;
  &:hover{
    cursor: $point_cursor;
  }
}