mixin block_search(placeholder, id)

    div(class='block_search' id= id)
        input(placeholder= placeholder)
        button(class="search_button")
            i(class="fa fa-search" aria-hidden="true")