mixin block_search(placeholder, array)

    div(class='block_search' data-search= array)
        input(placeholder= placeholder)
        button(class="search__button")
            i(class="fa fa-search" aria-hidden="true")