mixin block_user-profile(img, name, prof)
    .block-user-profile
        .user-img
            img(src=require("./images/"+img))
        .active-zone(id='inactive')
            .user-block
                .user-info
                    p(class='user-name')=name
                    p(class='user-prof')=prof
                .social-icons
                    button(class= 'social-btn')
                        i(class="fa fa-facebook" aria-hidden="true")
                    button(class= 'social-btn')
                        i(class="fa fa-twitter" aria-hidden="true")
                    button(class= 'social-btn')
                        i(class="fa fa-dribbble" aria-hidden="true")