.basic_button{
  border-radius: 2px;
}
.basic_orange{
  color: #FFFFFF;
  border: 1px #e75735;
  background-color: #e75735;
  &:hover{
    box-shadow: 0 3px #bf3e1f;
  }
  &:active{
    border: 1px solid #e75735;
    background-color: white;
    color: #e75735;
    box-shadow: 0 3px #e75735;
  }
}
.basic_default{
  color: #FFFFFF;
  border: 1px #4eb7a8;
  background-color: #4eb7a8;
  &:hover{
    box-shadow: 0 3px  #28a290;
  }
  &:active{
    border: 1px solid #4eb7a8;
    background-color: white;
    color: #4eb7a8;
    box-shadow: 0 3px  #4eb7a8;
  }
}
.medium{
  height: 32px;
  width: 118px;
}
.small{
  height: 22px;
  width: 78px;
}

.button_medium_orange{
  @extend .basic_button;
  @extend .basic_orange;
  @extend .medium;
}
.button_small_orange{
  @extend .basic_button;
  @extend .basic_orange;
  @extend .small
}
.button_medium_default{
  @extend .basic_button;
  @extend .basic_default;
  @extend .medium;
}
.button_small_default{
  @extend .basic_button;
  @extend .basic_default;
  @extend .small
}
