.block_basic_buttons-content{
  display: flex;
  justify-content: center;
  margin-top: 73px;
  margin-bottom: 56px;
  @media (max-width: 780px) {
    .button-default{
      flex-direction: column;
      align-items: center;
      .bb-ld{
        order: 1;
        margin-right: 0;
      }
    }
    .button-orange{
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      .bb-ro{
        order: 1;
      }
      .bb-lo{
        margin-right: 0;
      }
    }
  }
}
button{
  .pulse{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.51);
    animation: pulse 0.7s ease-out;
    transform: scale(0);
  }
  @keyframes pulse {
    to{
      transform: scale(1);
      opacity: 0;
    }
  }
  outline: 0;
  overflow: hidden;
  position: relative;
  &:hover{
    cursor: $point_cursor;
  }
}
.basic_button{
  border-radius: 2px;
}
.basic_orange{
  color: #FFFFFF;
  border: 1px #e75735;
  background-color: #e75735;
  &:hover{
    box-shadow: 0 3px #bf3e1f;
  }
  &:active{
    border: 1px solid #e75735;
    background-color: white;
    color: #e75735;
    box-shadow: 0 3px #e75735;
  }
}
.basic_default{
  color: #FFFFFF;
  border: 1px #4eb7a8;
  background-color: #4eb7a8;
  &:hover{
    box-shadow: 0 3px  #28a290;
  }
  &:active{
    border: 1px solid #4eb7a8;
    background-color: white;
    color: #4eb7a8;
    box-shadow: 0 3px  #4eb7a8;
  }
}
.medium{
  height: 32px;
  width: 118px;
}
.small{
  height: 22px;
  width: 78px;
}

.button_medium_orange{
  @extend .basic_button;
  @extend .basic_orange;
  @extend .medium;
}
.button_small_orange{
  @extend .basic_button;
  @extend .basic_orange;
  @extend .small
}
.button_medium_default{
  @extend .basic_button;
  @extend .basic_default;
  @extend .medium;
}
.button_small_default{
  @extend .basic_button;
  @extend .basic_default;
  @extend .small
}
.button-default{
  display: flex;
  justify-content: center;
  margin-right: 23px;
  .bb-ld{
    margin-right: 26px;
    div{
      margin-top: 30px;
      &:first-child{
        margin-top: 10px;
      }
    }
  }
  .bb-rd{
    div{
      margin-bottom: 20px;
    }
  }
}
.button-orange{
  display: flex;
  justify-content: center;
  .bb-lo{
    margin-right: 26px;
    div{
      margin-bottom: 20px;
    }
  }
  .bb-ro{
    div{
      margin-top: 30px;
      &:first-child{
        margin-top: 10px;
      }
    }
  }
}