mixin block_search(placeholder, id)

    div(class='block-search' id= id)
        input(placeholder= placeholder)
        button(class="search-button")
            i(class="fa fa-search" aria-hidden="true")