.content_locations{
  display: flex;
  justify-content: center;
  .block_location{
    background-color: #e75735;
    border-radius: 3px;
    width: 593px;
    height: 272px;
    #map{
      height: 203px;
    }
    .info-block{
      display: flex;
      p{
        margin: 0;
        color: #FFF;
      }
      .meet{
        font-size: 30px;
        font-family: 'Lato Light', sans-serif;
        margin-right: 26px;
        margin-left: 30px;
        height:69px;
        p{
          line-height: 69px;
        }
      }
      .street{
        display: flex;
        align-items: center;
        font-size: 12.5px;
        font-family: 'Lato Black', sans-serif;
        width: 126px;
        margin-right: 199px;
      }
      .icons{
        display: flex;
        align-items: center;
        width: 68px;
        justify-content: space-between;
        button{
          cursor: $point_cursor;
          background-color: #e75735;
          border: 0;
          padding: 0;
          i{
            cursor: $point_cursor;
            font-size: 26px;
            color: #FFF;
          }
        }
        button:last-child{
          padding-right: 1px;
        }
      }

    }

  }
}