mixin block_location()

    .block_location
        #map
        .info-block
            .meet
                p='Meet us!'
            .street
                p='1259  CALIFORNIA ST San Francisco, CA'
            .icons
                button
                    i(class="fa fa-crosshairs" aria-hidden="true")
                button
                    i(class="fa fa-map-marker" aria-hidden="true")
