.drop-down{
  width: 16rem;
  margin-top: 1rem;
    .option{
      position: relative;
      background-color: #e5e5e5;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
    a{
      color: #888888;
      font-family: "Source Sans Pro Regular", sans-serif;
      font-size: 0.7778rem;
      padding-left: 0.7222rem;
      line-height: 1.5556rem;
      padding-right: 0.7222rem;
    }
    .option-btn{
      right: 0;
      color: #FFF;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      position: absolute;
      height: 1.5556rem;
      width: 1.8333rem;
      background-color: #4eb7a8;
      border: 0;
    }
    .drop-down-option{
      cursor: $point_cursor;
      margin: 0;
      height: 0;
      color: #FFF;
      font-size: 0.7778rem;
      line-height: 1.5556rem;
      overflow: hidden;
      background-color: #4eb7a8;
      list-style-type: none;
      padding-left: 0.7222rem;
      padding-right: 0.7222rem;
      transition: 1s;
      border-radius: 2px;
    }
  }
