include ../block_button/block_button
.block_buttons
    +block_button("small", "checkButtonSMALL", "default")
    +block_button("medium", "checkButtonMEDIUM", "default")
    +block_button("small", "checkButtonSMALL", "orange")
    +block_button("medium", "checkButtonMEDIUM","orange")