.block_news-events{
  display: flex;

  .settings_news-events{
    display: flex;
    width: 288px;
    height: 212px;
    &:hover img{
      transform: scale(1.1);
      transition: 0.5s;
    }
    .news-event{
      width: 100%;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      .content_news-event{
        padding: 0 22px 0 22px;
        text-align: left;
      }
    }
  }

  .block_news{
    @extend .settings_news-events;
    margin-right: 18px;

    .news-img{
      overflow: hidden;
      width: 142px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    .news{
      @extend .news-event;
      background-color: #e75735;

      .content{
        @extend .content_news-event;
        .title{
          line-height: 26px;
          font-size: 28px;
          font-family: 'Lato Light', sans-serif;
          margin-top: 24px;
          margin-bottom: 0;
        }
        .date{
          line-height: 3px;
          font-family: 'Lato Black', sans-serif;
          font-size: 11px;
          margin: 16px 0 16px 0;
        }
        .info{
          font-family: 'Lato Regular', sans-serif;
          font-size: 11px;
          margin-top: 0;
          margin-bottom: 36px;
        }
      }
    }

  }

  .block_event{
    @extend .settings_news-events;
    .event-img{
      overflow: hidden;
      width: 142px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }
    .event{
      @extend .news-event;
      background-color: #4eb7a8;

      .content{
        @extend .content_news-event;

        .date{
          font-family: 'Lato Light', sans-serif;
          font-size: 73px;
          margin-top: 24px;
          margin-bottom: 26px;
          line-height: 60px;
          span{
            font-size: 30px;
            line-height: 0;
          }
        }
        .title{
          font-family: 'Lato Black', sans-serif;
          font-size: 12.5px;
          margin: 0;
          line-height: 3px;
        }
        .info{
          font-family: 'Lato Regular', sans-serif;
          font-size: 11px;
          margin-top: 9px;
          margin-bottom: 21px;
        }

        .block_btn{
          display: flex;
          justify-content: center;
          height: 19px;
          margin-bottom: 24px;
          button{
            font-size: 10px;
            font-family: 'Lato Black';
            padding: 0 11px 0 11px;
            border-radius: 3px;
            border: 0;
            box-shadow: 0 3px  #379285;
            color: #4eb7a8;
          }
        }
      }

    }



  }




}