.user-profiles{
  .user-profile_content{
    margin-top: 1.2778rem;
    margin-bottom: 5.2778rem;
    .user-profile{
      display:flex;
      height: 5.2222rem;
      width: 14.8889rem;
      font-family: 'Regular Lato', sans-serif;

      &:last-child{
        margin-top: 1.4444rem;
      }
      .user-img{
        border-radius: 50%;
        background-color: #e5e5e5;
        img{
          margin: 0.2778rem;
          width: 4.6667rem;
          height: 4.6667rem;
        }
      }
      .active-zone{
        display: flex;
        position: relative;
        transition: 0.5s;
        overflow: hidden;
        width: 0;
        .block-user{
          position: absolute;
          width: 9.0556rem;
          right: 0;
          height: 5.2222rem;
          border-radius: 0.2778rem;
          &:after{
            left: -0.2222rem;
            top: 50%;
            margin-top: -0.2778rem;
            content: '';
            position: absolute;
            width: 0.5556rem;
            height: 0.5556rem;
            transform: rotate(45deg);
          }

          .user-info{
            margin-top: 0.7222rem;
            margin-bottom: 0.7778rem;
            p{
              text-align: center;
              margin: 0
            }
            .user-name{
              color: #e75735;
              margin-bottom: 0.4444rem;
              line-height: 0.7778rem;
              font-size: 1rem;
            }
            .user-prof{
              line-height: 0.4444rem;
              font-size: 0.6111rem;
            }
          }

          .social-icons{
            display: flex;
            justify-content: center;
            button{
              &:nth-last-child(2){
                margin-left: 0.5556rem;
                margin-right: 0.5556rem;
              }
              border: 0;
              box-shadow: none;
              background-color: rgba(0, 0, 0, 0);
            }
            i{
              &:hover{
                color: #e75735;
              }
              color: #757575;
              font-size: 1.1667rem;
            }
          }


        }
        &#active{
          color: #757575;
          .block-user{
            background-color: #e5e5e5;
            &:after{
              background-color: #e5e5e5;
            }
          }
        }
        &#inactive{
          .block-user{
            background-color: #4eb7a8;
            .user-name{color: #FFF}
            .user-prof{color: #FFF}
            i{color: #FFF}
            &:after{
              background-color: #4eb7a8;
            }
          }
        }
      }
    }
  }
}