.block_arrow_buttons-content{
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 48px;
  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }
  .block_arrow_button{
    margin-right: 24px;
  }
  .arrow_button{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  .arrow_button-setting{
    display: flex;
    .block_arrow_button{
      margin-right: 24px;
    }
    @media (max-width: 780px) {
     display: flex;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .arrow_default{
    @extend .arrow_button-setting;
    border: #4eb7a8 solid 3px;
    &:hover{
      border: 0;
      background-color: #4EB7A8;
      &::after{
        top: 17px;
        width: 13px;
        border-top: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
      }
    }
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 14px;
      width: 13px;
      height: 13px;
      border-top: 4px solid #4eb7a8;
      border-right: 4px solid #4eb7a8;
    }
  }
  .arrow_orange{
    @extend .arrow_button-setting;
    border: #e75735 solid 3px;
    &:hover{
      border: 0;
      background-color: #E75735;
      &::after{
        top: 17px;
        width: 13px;
        border-top: 4px solid #FFFFFF;
        border-right: 4px solid #FFFFFF;
      }
    }
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 14px;
      width: 13px;
      height: 13px;
      border-top: 4px solid #e75735;
      border-right: 4px solid #e75735;
    }
  }
  .right{
    &:hover{
      &::after{
        right: 20px;
      }
    }
    &::after{
      right: 17px;
      transform: rotate(45deg)
    }
  }
  .left{
    &:hover{
      &::after{
        left: 20px;
      }
    }
    &::after{
      left: 17px;
      transform: rotate(-135deg)
    }
  }


  .button_left_orange{
    @extend .arrow_button;
    @extend .arrow_orange;
    @extend .left
  }
  .button_left_default{
    @extend .arrow_button;
    @extend .arrow_default;
    @extend .left
  }
  .button_right_orange{
    @extend .arrow_button;
    @extend .arrow_orange;
    @extend .right
  }
  .button_right_default{
    @extend .arrow_button;
    @extend .arrow_default;
    @extend .right
  }

  .arrow_buttons-orange{@extend .arrow_button-setting}
  .arrow_buttons-passive{@extend .arrow_button-setting}
  .arrow_buttons-default{
    .block_arrow_button{
      &:last-child{margin-right: 0;}
    }
    @media (max-width: 780px) {
      &:last-child{margin-right: 24px;}
    }
    @extend .arrow_button-setting
  }

  .button_left_passive{
    background-color: #e5e5e5;
    border: 0;
    @extend .arrow_button;
    &:hover{
      border: 0;
      background-color: #e5e5e5;
    }
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      width: 13px;
      height: 13px;
      border-top: 4px solid #FFFFFF;
      border-right: 4px solid #FFFFFF;
      left: 19px;
      transform: rotate(-135deg)
    }
  }
  .button_right_passive{
    background-color: #e5e5e5;
    border: 0;
    @extend .arrow_button;
    &:hover{
      border: 0;
      background-color: #e5e5e5;
    }
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 16px;
      width: 13px;
      height: 13px;
      border-top: 4px solid #FFFFFF;
      border-right: 4px solid #FFFFFF;
      right: 19px;
      transform: rotate(45deg)
    }

  }

}