.block-calendar{
  width: 15.5rem;
  margin-top: 1.1111rem;
  margin-right: 1.5rem;
  margin-bottom: 2.8889rem;
  @media (max-width: 780px) {
    margin-right: 0;
  }
  .ui-widget-content-day{
    height: 6.0556rem;
    font-size: 4.4444rem;
    font-family: 'Lato Light', sans-serif;
    background-color: #e75735;
    color: #FFF;
    p{
      margin: 0;
      line-height: 6.8889rem;
      width: 15.5rem;
      text-align: center;
    }
  }
  .calendar{
    .ui-datepicker{
      width: 15.5rem;
      padding: 0;
      border: 0;
      .ui-datepicker-header{
        position: relative;
        border-radius: 0;
        border: 0;
        background-color: #d54c2c;
        height: 2.3889rem;
        color: #FFF;
        font-family: "Lato Light", sans-serif;
        font-size: 1.3333rem;
        .ui-datepicker-prev-next{
          width: 2.3889rem;
          position: absolute;
          height: 2.3889rem;
          top: 0;
          &:hover{
            border: 0;
            border-radius: 0;
            background-color: #e75735;
          }
          span{
            width: 0.5556rem;
            top: 0.8333rem;
            position: absolute;
            line-height: 0.9444rem;
          }
        }
        .ui-datepicker-prev{
          @extend .ui-datepicker-prev-next;
          left: 0;
          span{
            background-image: $arrow_left;
            left: 0.8333rem;
          }
        }
        .ui-datepicker-next{
          @extend .ui-datepicker-prev-next;
          right: 0;
          span{
            background-image: $arrow_right;
            right: 0.8333rem;
          }
        }
        .ui-datepicker-title{
          span{
            vertical-align:middle;
          }
        }
      }
      .ui-widget{
        border: 0;
      }
      table{
        margin-bottom: 0;
        thead{
          tr{
            width: 15.5rem;
            height: 1.5rem;
            font-family: 'Lato Black', sans-serif;
            font-size: 0.5rem;
            background-color: #e75735;
            color: #FFF;
          }
        }
        tbody{
          .ui-datepicker-current-day{
            a{
              background-color: #e75735;
              color: #FFF;
            }
          }
          tr{
            td{
              padding: 0;
              font-size: 1.1111rem;
              font-family: 'Source Sans Pro Regular', sans-serif;
              text-align: center;
              &:last-child{
                a{margin-right: 0}
                span{margin-right: 0}
              }
              a{
                width: 2.1667rem;
                height: 2.1667rem;
                padding: 0;
                background-color: #f2f2f2;
                border: 0;
                margin: 0 0.05556rem 0.05556rem 0;
                color: #868686;
                text-align: center;
                line-height: 2.1111rem;
              }
              span{
                height: 2.1667rem;
                width: 2.1667rem;
                border: 0;
                padding: 0;
                margin: 0 0.05556rem 0.05556rem 0;
                color: #FFF;
                background-color: #f2f2f2;
                text-align: center;
                line-height: 2.1111rem;
              }
            }
          }
        }
      }
    }
  }
  .ui-widget-content-btn{
    background-color: #e5e5e5;
    height: 2.7222rem;
    button{
      height: 2.7222rem;
      width: 15.5rem;
      background-color: #e5e5e5;
      border: 0;
      padding-left: 1.1111rem;
      text-align: left;
      font-size: 0.7222rem;
      color: #868686;
      font-family: 'Lato Black', sans-serif;
    }
  }
}